.avatar-input {
  width: 90px;
  height: 90px;
  background-color: #818cf8;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: var(--img);
  background-position: center;
  background-size: cover;
}
